django
mysqlclient
django-cors-headers
django_crispy_forms
diff_match_patch
django
django_filters
django_python3_ldap
elpy
et_xmlfile
flake8
django_guardian
django_import_export
importmagic
jedi
ldap3
markdown
openpyxl
pyasn1
pyflakes
djangorestframework
rope
tablib
